@import (reference) '../../../mixins';
@import (reference) '../../../variables';

.filters {
  .panel;
  font-size: @font-size*0.75;
  margin: 0 auto @margin*0.5 auto;
  padding: @padding*0.5;

  .show-bookmarks {
    cursor: pointer;
  }

  .fas, .far {
    margin-right: @margin*0.25;
  }
}

.article-list {
  max-width: @content-width;
  margin: 0px auto;
  padding: 0;

  @media (min-width: 768px) {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .article-box {
    .panel;
    cursor: pointer;
    margin: 0 0 @margin*0.5 0;
    transition: box-shadow 0.2s ease-out;

    @media (min-width: 768px) {
      -webkit-box-flex: 0;
      -ms-flex: 0 32.7%;
      flex: 0 32.7%;

      &:first-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
      }
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    &:hover {
      box-shadow: 0px 3px 5px 2px #ccc;
    }

    .thumbnail {
      display: block;
      height: auto;
      width: 100%;
    }

    .content {

      .title {
        font-size: @font-size*1.125;
        margin: 0px 0px @margin*0.5 0px;
      }

      .meta {
        .clearfix;

        .author {
          color: fade(@color-text, 60%);
          float: left;
          font-size: @font-size*0.75;
          text-align: left;
          width: 50%;
        }

        .date {
          color: fade(@color-text, 60%);
          float: right;
          font-size: @font-size*0.75;
          text-align: right;
          width: 50%;
        }
      }

      .trailtext {
        font-size: @font-size*0.875;
        line-height: @font-size*1.25;
        margin: @margin 0 0 0;
      }
    }
  }
}

.empty-list {
  .panel;
  text-align: center;

  .fa-frown {
    color: fade(@color-text, 60);
    font-size: @font-size*2;
    margin-top: @margin;
  }
}

.loading {
  .panel;
  text-align: center;

  .fa-circle-notch {
    font-size: @font-size*2;
  }
}
