<div *ngIf="list?.length" class="article-list">
  <div *ngFor="let article of list" class="article-box" [routerLink]="article.id">
    <img [src]="article.thumbnail" class="thumbnail"/>
    <div class="content">
      <h2 class="title">{{article.title}}</h2>
      <div class="meta">
        <!-- It may happen that some articles have no author - eg: live webchat -->
        <div *ngIf="article.author" class="author">{{article.author}}</div>
        <div class="date">{{article.date | date:'dd.MM.yyyy'}}</div>
      </div>
      <div class="trailtext" [innerHTML]="article.trailText"></div>
    </div>
  </div>
</div>
